body
{
    background-color: azure;
    margin: 0;
}

header
{
    background-color: darkcyan;
    padding: 5px;
    text-align: center;
    top: 0;
    width: 100%;
}

h2
{
    color: crimson;
    text-align: center;
}

input:invalid
{
    border-color: red;
}

footer
{
    bottom: 0;
    background-color: darkcyan;
    height: 100%;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 100%;
}

.contenedor-formulario
{
    padding: .5em;
}

.contenedor-formulario-flex
{
    list-style-type: none;
    padding: 0;
}

.contenedor-formulario-flex li
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.contenedor-formulario-flex input[type=submit],
.contenedor-formulario-flex input[type=reset]
{
    margin-left: 70px;
}

.contenedor-formulario-flex label
{
    flex: auto;
    max-width: 140px;
}

.contenedor-formulario-flex > li:not(:last-child)
{
    margin-bottom: .8em;
}

#telefono2
{
    margin-left: 140px;
}
